// Colors
$yellow: #f9d423;
$grey: #7f8c8d;
$red: #f85f40;
$green: #1abc9c;
$light-grey: #95a5a6;
$dark-yellow: #f1c40f;
$blue: #0faff1;
$orange: #f1540f;
$dark-grey: #686868;
$footer-color: #2a2a2a;
$text-grey: #7e7e7e;
$text-light-grey: #b4b4b4;
$text-black: #303030;

// Sizes
$nav-height: 90px;